<footer id="footer" class="navbar navbar-inverse navigate" data-spy="affix" data-offset-bottom="0">
<a href="../">Index</a>
<a href="../About">About</a>
<a href="../Contact">Contact</a>
</footer>
</body>
</html>