<!DOCTYPE html>
<html>
	<head>
		<title>News aggregator</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
			<ul class="nav navbar-nav">
				<li><a href="/" style="color: #4A76FF;">Index</a>
				<li><a href="/About" style="color: #4A76FF;">About</a></li>
				<li><a href="/Contact" style="color: #4A76FF;">Contact</a></li>
				<li><a href="/articles" style="color: #4A76FF;">Articles</a></li>
				<li><a href="/articles/new" style="color: #4A76FF;">New Article</a></li>
			</ul>
		</nav>