<% include ../partials/header.ejs%>

<ol>
	<% articles.forEach(function(data){ %>
	<li><%= data.title %>
		<ul>
			<li><%= data.body.slice(0,140) %>...    <a href="articles/<%= data.id %>">Read more</a></li>
		</ul>
	</li>
	<% }); %>
</ol>
<% include ../partials/footer.ejs%>
