<% include ../partials/header.ejs%>
<div class="col-sm-6 col-md-offset-1">
<h2>Add a new article.</h2><br>
<form method="POST" action="/articles/new">
  <label for="articleTitle">Title</label>
  <input type="text" name="title">

  <label for="articleBody">Body</label>
  <input id="articleBody" type="text" name="body">

  <input id="articleTitle" type="submit">
</form>
</div>

<% include ../partials/footer.ejs%>
