<% include ../partials/header.ejs%>
<div class="wrapper">
	<h1 class="header"><%= articles.title %></h1>
	<p class="text"><%= articles.body %></p>
	<a href="../">Back to articles</a>
<div>

<% include ../partials/footer.ejs%>
